/*//! bar-chart.css*/
/*//! version : 2*/
/*//! author : munawer (@munawer_t)*/
/*//! git : https://github.com/munawer-t*/
/*//! license : MIT*/
/*//! www.munawer.in*/

.charts-container {
    width: 90%;
    margin-left: 5%;
}

.chart-body .nav.nav-tabs {
    background: #B3B3B3;
    padding: 15px 0 15px 30px;
    border: none;
}

.chart-body {
    background: #E6E6E6;
    margin-top: 20px;
    padding-top: 50px;
}

.chart-body .nav-tabs > li > a {
    color: #fff;
    padding: 0 0 0 30px;
    width: 300px !important;
    border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-right: 1px solid #999;
}

.chart-body .nav-tabs > li > a:hover {
    color: #000;
}

.chart-body .nav-tabs > li:last-child a {
    border: none;
}

.chart-body .nav-tabs > li.active > a, .chart-body .nav-tabs > li.active > a:hover, .chart-body .nav-tabs > li.active > a:focus {
    border: none;
    background: #FFA42F;
    color: #fff;
    border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: -30px -5px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    boder: none;
}

.chart-body .nav-tabs .active a > p {
    color: #000;
}

.chart-body .nav-tabs a > p {
    font-weight: lighter;
    margin: 0;
}

.chart-body .nav-tabs a > h2 {
    font-size: 70px;
    margin: 0;
    margin-bottom: -10px;
}

.chart-body .nav-tabs a > span {
    font-size: 12px;
    font-weight: lighter;
}

.chart-panel {
    background: #F1F1F1;
    width: 100%;
    margin: 20px auto 30px;
    box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.5);
}

.chart-body .tab-content {
    border: none;
}

.panel-head {
    padding: 20px;
    position: relative;
    display: block !important;
}

.colapce-btn, .colapce-btn:hover {
    position: absolute;
    width: 12px;
    height: 13px;
    background: #A55D10;
    text-align: center;
    color: #fff;
    line-height: 10px;
    left: 0;
    cursor: pointer;
    text-decoration: none;
    padding: 1px;
}

.panel-head h3 {
    font-size: 16px;
    margin: 0;
    float: left;
    font-weight: normal;
}

.panel-label {
    display: inline-block;
    margin-left: 20px;
}

.chart-panel-body {
    dispaly: block;
    padding: 20px;
    postion: relative;
}

.chart-panel-body:after, .chart-panel-body:before {
    display: table;
    content: '';
}

.chart-panel-body:after {
    clear: both
}

.panel-label.deactive {
    color: #999;
}

.bar-gf {
    height: 4px;
    width: 25px;
    background: #7F7F7F;
    display: inline-block;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-left: 5px;
}

.bar-gf.orange {
    background: #FF9801;
}

.bar-gf.green {
    background: #8BC43F;
}

.bar-gf.red {
    background: #E43000;
}

.bar-gf.blue {
    background: #316199;
}

.bar-chart-body {
    width: 100%;
    position: relative;
    padding-left: 25px;
    border-top: 1px solid #E6E6E6;
    padding-top: 40px;
}

.bar-chart-x {
    position: absolute;
    font-size: 14px;
    left: 0;
    right: 0;
}

.bar-chart-x p {
    font-size: 10px;
    margin-bottom: 25px;
    font-weight: bold;
    border-top: 1px solid #E6E6E6;
    line-height: 1.72222;
}

.bar-container {
    width: 100%;
    float: left;
}

.col-bar {
    float: left;
    margin-left: 35px;
    width: 135px;
    position: relative;
}

.col-bar .bar-holder:first-child {
    margin-right: 10px;
}

.bar-holder {
    width: 50px;
    float: left;
    height: 215px;
    background: rgba(235, 235, 235, 0.6);
    position: relative;
}

.bar-dig {
    width: 50%;
    display: inline-block;
    height: 100%;
    background: #ccc;
    float: left;
}

.bar-progress {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.orange .bar-dig {
    background: #ff9900;
    background: -moz-linear-gradient(top, #ff9900 0%, #fe9901 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9900), color-stop(100%, #fe9901));
    background: -webkit-linear-gradient(top, #ff9900 0%, #fe9901 100%);
    background: -o-linear-gradient(top, #ff9900 0%, #fe9901 100%);
    background: -ms-linear-gradient(top, #ff9900 0%, #fe9901 100%);
    background: linear-gradient(to bottom, #ff9900 0%, #fe9901 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900', endColorstr='#fe9901', GradientType=0);
}

.orange .bar-dig:nth-child(2) {
    background: #ff8b00;
    background: -moz-linear-gradient(top, #ff8b00 0%, #ffa42f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8b00), color-stop(100%, #ffa42f));
    background: -webkit-linear-gradient(top, #ff8b00 0%, #ffa42f 100%);
    background: -o-linear-gradient(top, #ff8b00 0%, #ffa42f 100%);
    background: -ms-linear-gradient(top, #ff8b00 0%, #ffa42f 100%);
    background: linear-gradient(to bottom, #ff8b00 0%, #ffa42f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b00', endColorstr='#ffa42f', GradientType=0);
}

.gray .bar-dig {
    background: #808080
}

.gray .bar-dig:nth-child(2) {
    background: #818181;
    background: -moz-linear-gradient(top, #818181 0%, #999999 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #818181), color-stop(100%, #999999));
    background: -webkit-linear-gradient(top, #818181 0%, #999999 100%);
    background: -o-linear-gradient(top, #818181 0%, #999999 100%);
    background: -ms-linear-gradient(top, #818181 0%, #999999 100%);
    background: linear-gradient(to bottom, #818181 0%, #999999 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#818181', endColorstr='#999999', GradientType=0);
}

.green .bar-dig {
    background: #8bc53d;
    background: -moz-linear-gradient(top, #8bc53d 0%, #8bc43f 100%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8bc53d), color-stop(100%, #8bc43f), color-stop(100%, #efefef));
    background: -webkit-linear-gradient(top, #8bc53d 0%, #8bc43f 100%, #efefef 100%);
    background: -o-linear-gradient(top, #8bc53d 0%, #8bc43f 100%, #efefef 100%);
    background: -ms-linear-gradient(top, #8bc53d 0%, #8bc43f 100%, #efefef 100%);
    background: linear-gradient(to bottom, #8bc53d 0%, #8bc43f 100%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8bc53d', endColorstr='#efefef', GradientType=0);
}

.green .bar-dig:nth-child(2) {
    background: #8cc63e;
    background: -moz-linear-gradient(top, #8cc63e 0%, #afe022 100%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cc63e), color-stop(100%, #afe022), color-stop(100%, #efefef));
    background: -webkit-linear-gradient(top, #8cc63e 0%, #afe022 100%, #efefef 100%);
    background: -o-linear-gradient(top, #8cc63e 0%, #afe022 100%, #efefef 100%);
    background: -ms-linear-gradient(top, #8cc63e 0%, #afe022 100%, #efefef 100%);
    background: linear-gradient(to bottom, #8cc63e 0%, #afe022 100%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc63e', endColorstr='#efefef', GradientType=0);
}

.blue .bar-dig {
    background: #1e5799;
    background: -moz-linear-gradient(top, #1e5799 0%, #4a6f99 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #4a6f99));
    background: -webkit-linear-gradient(top, #1e5799 0%, #4a6f99 100%);
    background: -o-linear-gradient(top, #1e5799 0%, #4a6f99 100%);
    background: -ms-linear-gradient(top, #1e5799 0%, #4a6f99 100%);
    background: linear-gradient(to bottom, #1e5799 0%, #4a6f99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#4a6f99', GradientType=0);
}

.blue .bar-dig:nth-child(2) {
    background: #3d6fa5;
    background: -moz-linear-gradient(top, #3d6fa5 0%, #5379aa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d6fa5), color-stop(100%, #5379aa));
    background: -webkit-linear-gradient(top, #3d6fa5 0%, #5379aa 100%);
    background: -o-linear-gradient(top, #3d6fa5 0%, #5379aa 100%);
    background: -ms-linear-gradient(top, #3d6fa5 0%, #5379aa 100%);
    background: linear-gradient(to bottom, #3d6fa5 0%, #5379aa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d6fa5', endColorstr='#5379aa', GradientType=0);
}

.red .bar-dig {
    background: #d62700;
    background: -moz-linear-gradient(top, #d62700 0%, #fc3f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d62700), color-stop(100%, #fc3f00));
    background: -webkit-linear-gradient(top, #d62700 0%, #fc3f00 100%);
    background: -o-linear-gradient(top, #d62700 0%, #fc3f00 100%);
    background: -ms-linear-gradient(top, #d62700 0%, #fc3f00 100%);
    background: linear-gradient(to bottom, #d62700 0%, #fc3f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d62700', endColorstr='#fc3f00', GradientType=0);
}

.red .bar-dig:nth-child(2) {
    background: #e00300;
    background: -moz-linear-gradient(top, #e00300 0%, #c12600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e00300), color-stop(100%, #c12600));
    background: -webkit-linear-gradient(top, #e00300 0%, #c12600 100%);
    background: -o-linear-gradient(top, #e00300 0%, #c12600 100%);
    background: -ms-linear-gradient(top, #e00300 0%, #c12600 100%);
    background: linear-gradient(to bottom, #e00300 0%, #c12600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00300', endColorstr='#c12600', GradientType=0);
}

.bar-char-data p {
    font-size: 10px;
    border-top: 1px solid #E6E6E6;
    margin: 0;
    padding: 10px 0;
    color: #000;
}

.bar-char-data p:last-child {
    border-bottom: 1px solid #E6E6E6;
}

.bar-char-data {
    padding-left: 25px;
}

.bar-char-data .y-ax {
    color: #888;
    border: none !important;
}

.gs-tooltip {
    background: #424242;
    padding: 7px 15px;
    color: #fff;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 13px;
    bottom: 150%;
    left: -84%;
    transition: all 0.45s;
    -ms-transition: all 0.45s;
    -moz-transition: all 0.45s;
    -webkit-transition: all 0.45s;
    opacity: 0;
    z-index: 5;
    width: 130px;
}

.bar-progress:hover .gs-tooltip {
    bottom: 120%;
    opacity: 1
}

.gs-tooltip:after {
    content: '';
    border: 5px solid transparent;
    border-top-color: #424242;
    position: absolute;
    top: 100%;
    left: 48%;
}

.four-column .col-bar {
    margin-left: 29px;
    width: 142px
}

.four-column .gs-tooltip {
    left: auto;
    right: -50px;
}

.four-column .col-bar .bar-holder {
    margin-right: 10px;
}

.four-column .bar-holder {
    width: 25px;

}

.doughnut-chart {
    position: relative;
    text-align: center;
    width: 100%;
}

.doughnut-crl {
    border: 30px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -ms-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    display: block;
    height: 210px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 45px;
    width: 210px;
}

/*dashboard ends*/